/* import google fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.section {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #23ba5b;
  overflow: hidden;
}

.header {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  height: 70px;
  position: sticky;
  top: 0;
}

.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.ul {
  display: flex;
  align-items: center;
}

.ul li {
  margin-right: 20px;
  list-style: none;
  position: relative;
  padding: 5px;
}

.ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
}

.ul li:hover::after {
  width: 100%;
  transition: 0.5s;
}

.ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.bars {
  display: none;
}

.bars p {
  color: #fff;
  font-size: 25px;
}

/* responsive Header  */

@media screen and (max-width: 767px) {
  .bars {
    display: block;
    z-index: 999;
  }
  .ul {
    flex-direction: column;
    position: absolute;
    top: -300px;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
    z-index: 20;
  }
  .ul li {
    margin: 10px 0;
  }
}

/* main-container */

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  width: 45%;
}

.logo {
  max-width: 550px;
  width: 100%;
}

.logo img {
  width: 100%;
}

.left-content p {
  font-size: 2rem;
  color: #fff;
  margin: 20px 0;
}

.cashBtn {
  max-width: 500px;
  width: 100%;
  height: 35px;
  color: #008000;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
}

.cashBtn:hover {
  background-color: #bfdabf;
}

.right-content {
  width: 45%;
  position: relative;
}

.heroImg {
  width: 100%;
}

.heroImg img {
  width: 100%;
}

.price {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.priceImg {
  width: 50px;
  height: 30px;
  position: absolute;
}

.icon1 {
  top: 50%;
  left: 25%;
  animation: dollar 1s linear 1s infinite;
}
.icon2 {
  top: 50%;
  left: 50%;
  animation: dollar 1s linear 2s infinite;
}
.icon3 {
  top: 25%;
  right: 25%;
  animation: dollar 1s linear 4s infinite;
}
.icon4 {
  bottom: 30%;
  right: 60%;
  animation: dollar 1s linear 3s infinite;
}
.icon5 {
  top: 50%;
  left: 10%;
  animation: dollar 1s linear 5s infinite;
}
.icon6 {
  top: 40%;
  left: 20%;
  animation: dollar 1s linear 6s infinite;
}
.icon7 {
  bottom: 20%;
  left: 25%;
  animation: dollar 1s linear 4s infinite;
}

@keyframes dollar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .homeContainer {
    display: block;
  }
  .left-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .right-content {
    width: 90%;
    margin: 25px auto;
  }
  .heroImg img {
    height: 100%;
  }
  .priceImg {
    width: 30px;
    height: 20px;
  }
}

.workContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font: 2rem;
  margin-bottom: 30px;
  color: #fff;
}

.work-rules {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rule {
  width: 50%;
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  color: #fff;
}

.rule span {
  font-size: 3rem;
}

@media screen and (max-width: 767px) {
  .workContainer {
    align-items: center;
    border: 3px solid black;
  }
  .work-rules {
    display: block;
  }
  .rule {
    width: 100%;
    text-align: left;
  }
}

.transaction-container {
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  width: 90%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

tr,
td {
  border: 1px solid black;
  padding: 10px;
}

.table tr {
  height: 30px;
}

.table tbody tr {
  background-color: #fff;
}

.table thead {
  background-color: #90ed90;
  color: #fff;
  padding: 10px;
}

.top-row {
  background-color: #30de6f !important;
}

.footer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.footer p {
  color: #fff;
  font-size: 16px;
}
